body, html {
    height: 100%; 
    width: 100% ;
    margin: 0;   
    padding: 0
}

#redWall {
   float: left;
   background-color: #b7b7b7;
   width: 6%;
   height: 100%;
   position: absolute;
   z-index: 4;
}

#leavesWall {
    float: left;
    background-image: url("../images/leaves.jpg");
    width: 18%;
    height: 100%;
    position: absolute;
    z-index: 2
}

#pinkWall {
    float: left;
    background-color: rgb(249,211,224);
    width: 11%;
    height: 100%; 
    position: absolute;
    z-index: 3;
}

#grayWall {
    float: left;
    background-color: "#E1DEE3";
    width: 2%;
    height: 100%; 
    position: absolute;
    z-index: 5;
    margin-right: 10%;
}

#leavesWallAgain {
    float: left;
    background-image: url("../images/leaves.jpg");
    background-color: "#E1DEE3";
    width: 4%;
    height: 100%; 
    position: absolute;
    z-index: 5
}

#welcomePage {
    background-color: #c4bbaf;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    z-index: 1
}


#welcomeText {
    font-family: 'Cookie', cursive;
    font-size: 100px; 
    padding-top: 275px;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 49%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: rgb(249,211,224);
    text-shadow: 2px 2px #A5978b;
}

#welcomeText:hover {
    text-decoration: none;
    text-shadow: 2px 2px #5c4742;  
}

#brownWallRight {
    float: right;
    background-color: #b7b7b7;
    width: 1.75%;
    height: 100%;
    position: absolute;
    z-index: 5;
    margin-left: 92%;
}

#pinkWallRight {
    float: right;
    background-color: rgb(249,211,224);
    width: 5%;
    height: 100%;
    position: absolute;
    z-index: 5;
    margin-left: 95%
}

#leavesWallRight {
    float: right;
    background-image: url("../images/leaves.jpg");
    width: 30%;
    height: 100%;
    position: absolute;
    z-index: 4;
    margin-left: 88%
}

#portfolioNavbar{
   background-color: rgb(249,211,224);
   padding: 0;
   padding-left: 15px;
   line-height: 70px;
}

.nav-link {
    font-size: 20px;
}

#name {
    font-size: 70px;
    font-family: 'Cookie', cursive;
}

#brownBar {
    width: 100%;
    height: 4%;
    background-color: #A5978B;
}

#portfolioBody {
    background-image: url("../images/leaves.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1300px;
    margin: 0;
    padding: 0;
    position: relative;
}

#portfolioBoxes {
    top: 7%;
    left: 50%;
    margin-left: -270px;
    position: absolute;
}

.projectBox {
    height: 110px;
    width: 150px;
    background-color: rgb(249,211,224);
    margin: 10px;
    border: solid 2.5px rgb(77, 74, 74);
    text-align: center;
    float: left; 
    border-radius: 8px;
    padding: 3px;
    font-family: 'Lato';
    font-size: 13px;
    color: black;
    font-family: 'Cookie', cursive;
    font-size: 28px;
    line-height: 30px;
}

#triviaBox:hover{
    background-image: url(../images/cocktail.jpg);
    background-image: center;
    position: relative;
    z-index: 3;
}

#gifBox:hover {
    background-image: url(../images/hp.jpg);
    background-image: center;
    position: relative;
    z-index: 3;
}

#trainBox:hover {
    background-image: url(../images/train.jpg);
    background-image: center;
    position: relative;
    z-index: 3;
}

#fancyBox:hover {
    background-image: url(../images/teddy.jpg);
    background-image: center;
    position: relative;
    z-index: 3;
}

#dragBox:hover {
    background-image: url(../images/alaska.jpg);
    background-image: center;
    position: relative;
    z-index: 3;
}

#freebeezBox:hover {
    background-image: url(../images/bee.png);
    background-image: center;
    position: relative;
    z-index: 3;
}

#liriBox:hover {
    background-image: url(../images/liri.jpg);
    background-image: center;
    position: relative;
    z-index: 3;
}

#mysticBox:hover {
    background-image: url(../images/mystic.png);
    background-image: center;
    position: relative;
    z-index: 3;
}

#bamaBox:hover {
    background-image: url(../images/bamazon.jpg);
    background-image: center;
    position: relative;
    z-index: 3;
}

#contactNavbar {
    background-image: url("../images/leaves2.jpg");
    background-image: right;
    color: white;
    padding: 0;
    padding-left: 15px;
    line-height: 70px;
}

#headshot {
    border-radius: 50%;  
    margin-top: 9%;
    left: 50%;
    margin-left: -160px;
    position: absolute
}

#aboutMe {
    margin-top: 15%;
    padding: 5%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgb(196, 187, 175, .4);
}   

#leftSide {
    background-color: #B7B7B7;
    height: 100vh
}

#rightSide {
    background-color: #f9d3e0; 
    height: 100vh 
}

@media (min-width: 320px) and (max-width: 360px) {
    #welcomeText {
        font-size: 65px;
        padding-top: 50%;
    }
    #portfolioBoxes {
        top: 5%;
        padding-left: 195px;
    }
    #redBar {
        height: 2%
    }
    #leftSide {
        height: 70vh
    }
    #rightSide {
        height: 70vh
    }}

@media (min-width: 375px) and (max-width: 410px)
    {#welcomeText {
        font-size: 80px;
        padding-top: 50%;
    } 
    #redBar {
        height: 2%
    }
    #portfolioBoxes {
        top: 5%;
        padding-left: 195px;
    }
    #leftSide {
        height: 55vh
    }
    #rightSide {
        height: 55vh
    }}

@media (min-width: 411px) and (max-width: 600px)
    {#welcomeText {
        font-size: 85px;
        padding-top: 50%;
    } 
    #redBar {
        height: 2%
    }
    #portfolioBoxes {
        top: 5%;
        padding-left: 195px;
    }
    #leftSide {
        height: 80vh
    }
    #rightSide {
        height: 80vh
    }}

@media (min-width: 768px) and (max-width: 800px)
    {#welcomeText {
        font-size: 120px;
    }
    #redBar {
        height: 2%
    }
    #portfolioBoxes {
        top: 10%;
        padding-left: 25px;
    }
    #leftSide {
        height: 100vh
    }
    #rightSide {
        height: 100vh
    }}

@media (min-width: 1024px) 
    {#welcomeText {
        font-size: 150px;
    }
    #redBar {
        height: 2%
    }
    #portfolioBoxes {
        top: 10%;
        left: 50%;
    }
    #portfolioBody {
    height: 100%;
    }
    #leftSide {
        height: 100vh
    }
    #rightSide {
        height: 100vh
    }}



