body, html {
    height: 100%; 
    width: 100%;
    margin: 0;   
}

#redWall {
   
}

#welcomePage {
    border-left: red, 20px, solid;
    background-color: rgb(255, 255, 106);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

#welcomeText {
    font-family: 'Cookie', cursive;
    font-size: 20px;
    font-size: 100px;
    padding-top: 275px;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: rgb(61,77,67);
}

#welcomeText:hover {
    text-decoration: none;
    color: rgb(249,211,224);
}

#portfolioNavbar{
   background-color: rgb(249,211,224);
   padding: 0;
   padding-left: 15px;
   line-height: 70px;
}

.nav-link {
    font-size: 20px;
}


#name {
    font-size: 70px;
    font-family: 'Cookie', cursive;
}

#portfolioBody {
    background-image: url("../images/leaves.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

#portfolioBoxes {
    top: 25%;
    left: 31%;
    position: absolute;
}

.projectBox {
    height: 110px;
    width: 150px;
    background-color: rgb(249,211,224);
    margin: 10px;
    border: solid 2.5px rgb(77, 74, 74);
    text-align: center;
    float: left; 
    border-radius: 8px;
    padding: 3px;
    font-family: 'Lato';
    font-size: 13px;
    color: black;
    font-family: 'Cookie', cursive;
    font-size: 28px;
    line-height: 30px;
}

#triviaBox:hover{
    background-image: url(../images/cocktail.jpg);
    background-image: center;
    position: relative;
    z-index: 3;
    color: transparent;
}

#contactContainer {
    background-color: red;
}

#headshot {
    border-radius: 50%;  
}