body, html {
    height: 100%; 
    width: 100%; 
}

#welcomePage {
    background-color: yellow;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

#welcomeText {
    font-family: 'Cookie', cursive;
    font-size: 20px;
    font-size: 100px;
    padding-top: 275px;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: black;
}

#welcomeText:hover {
    text-decoration: none;
    color: rgb(157, 216, 185);
}

#portfolioNavbar{
    background-color: rgb(115, 251, 62);
    
}
#portfolioPage {
    
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

#portfolioBoxes {
    
    top: 16%;
    left: 38%;
    position: absolute;

}

.projectBox {
    height: 100px;
    width: 150px;
    /* background-color: rgb(226, 249, 211); */
    background-color: rgb(249,211,224);
    margin: 10px;
    border: solid 2px;
    text-align: center;
    float: left; 
    border-radius: 8px;
    padding: 3px;
    font-family: 'Lato';
    font-size: 13px;
}

.firstFont {
    font-family: 'Cookie', cursive;
    font-size: 28px;
    line-height: 30px;
}

/* .container {
    border: 0;
    padding: 0;
    margin: 0;  
}

.parallax {
  background-image: url('../images/forest.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
#welcomeContent {
    background-color: yellow;
    height: 100%; 
}

#welcomeText {
    text-align: center;
    font-size: 60px;
    padding-top: 275px;
    font-family: 'Cookie', cursive;
}

#aboutMeContent {
    background-color: pink;
    height: 100%;
}

#photoDiv {
    margin: auto;
    margin-left: 30px;
    padding-top: 50px;
    display: block;
}

#photo {
    border: solid;
}


#blurb {
    margin: auto;
}

#portfolioContent {
    background-color: greenyellow;
    height: 100%;
}

.miniBox {
    background-color: rebeccapurple;
    height: 150px;
    width: 150px;
    display: inline;
}

#contactContent {
    background-color: red;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    #photo{
        height: 350px;
        width: 320px;
        
      
    }
} */